@import '../../styles/variables';

.visitConfirmationSection {
  margin-top: 32px;
  padding: 24px 0;
  border: 1px solid $color3;
}

.currentVisitTime {
  display: flex;
  justify-content: space-around;
  padding: 0 16px;
}

.date,
.time {
  @extend %sectionTitle;
  display: flex;
  flex-direction: column;
  $font-family: $font-family;
  align-items: center;
  transition: 0.3s;
}

.text {
  font-family: $font-family;
  text-align: center;
  font-weight: $font-weight1;

  &:first-child {
    width: 56px;
    margin-bottom: 8px;
    font-size: $font-size2;
    line-height: $line-height1;
  }

  &:last-child {
    width: 120px;
    height: 24px;
    font-size: $font-size5;
    line-height: $line-height1;
    font-weight: $font-weight3;
  }
}

.date {
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: calc(50% - 1px);
    width: 2px;
    height: 56px;
    border-radius: 2px;
    background-color: $color3;
  }
}

.confirmVisitButton {
  margin: 26px 12px 0;
  text-transform: uppercase;
}


